{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/buy-page-style.css">
{% endblock %}

{% block body %}
    <div style="margin-top: 40px;">
        <div style="text-align: center;font-size: 30px;">Логін</div>

        <form method="post" class="form-order">
            {% csrf_token %}
            <div style="font-size: 20px;text-align: right;">
                Відсутній аккаунт ? - <a href="{% url 'register_page' %}">зареєструватись</a>
            </div>
            <input type="text" placeholder="логін" name="username" id="id_username" required>
            <input type="password" placeholder="пароль" name="password" required>
            <button type="submit">ввійти</button>
        </form>

    </div>
{% endblock %}